.screen-reader-only {
    clip: rect (0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  main {
      font-family: 'Ubuntu';
      max-width: 1440px;
      justify-content: space-evenly;
      align-items: center;
  }
.container {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
header {
    background: #2e948a;
    display: flex;
    justify-content: center;
    /* height: 117px; */
}
header h3{
    color: transparent;
    background: url('../img/logo-header.png') 0 0 no-repeat;
    width: 244px;
    height: 77px;
}
header h3 a{
    color: transparent;
}
header nav ul {

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;

}
header nav ul li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    list-style-type: none;
    padding: 0 21px;

}
header nav a {
    font-family: 'Ubuntu';
    color: #fdfdfd;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */

    text-transform: uppercase;

}

footer {
    background: #419488;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
footer h3 a {
    color: transparent;
    display: block;
    background: url('../img/logo-footer.png') 0 0 no-repeat;
    width: 312px;
    height: 102px;
}
footer ul {
    margin: 30px 0;
    padding: 0 20px;
}
footer ul li {
    list-style: none;
    padding: 2px;

}
footer a {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
    text-decoration: none;
}
.linksfooter li a {
    margin: 0 0 13px 0;
    padding: 14px 41px;
    display: flex;
    align-items: center;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 62px;
}

@media only screen and (max-width: 769px) {

    .container {
        width: 720px;
        
    }
}
@media only screen and (max-width: 520px) {

    .container {
        width: 460px;
        flex-wrap: wrap;
        /* flex-flow: column; */
        flex-direction: column;
        align-items: center;
    }
}
 /* Fim */